<script>
	function showLV(){
		document.getElementById("listView").style.display="block";
		document.getElementById("gridView").style.display="none";
	}
	function showGV(){
		document.getElementById("listView").style.display="none";
		document.getElementById("gridView").style.display="block";
	}
</script>
{% extends "layout.html" %}
{% block body %}
	{%if session.logged_in%}
		<div>
		<ul style="list-style-type:none; position:absolute; left:0px">
		<li><input type="button" name="listV" value="List" style="width:50px" onclick="showLV();".></input></li>
		<li><input type="button" name="gridV" value="Grid" style="width:50px" onclick="showGV();"></input></li>
		<div>
	{%endif%}
{% endblock %}