<!doctype html>
<head>
<title>Note-It</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
<div class="page-header">
  <a href= "{{ url_for('welcome_page') }}"><h1>Note-It</h1></a>
</div>
  <div class="container">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log In</a> | <a href="{{ url_for('registration') }}">Register</a>
	
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  <div class="container">
  {% block body %}  {% endblock %}

<div class = "container" id = "listView" style="display: none;align:center;margin-left:auto;margin-right:auto;">
  <ul class="list-group">
    <li class="list-group-item">Variable for Message 1</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
   <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

<div class = "container" id = "gridView" style = "display: none;align:center;margin-left:auto;margin-right:auto;">
<div class="row">
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>

</div>
<div class="row">
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
</div>

<div class="row">
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
</div>

<div class="row">
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
</div>

</div>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash style="color:red; text-align:center;">{{ message }}</div>
  {% endfor %}
</div>
</body>