{% extends "std.html" %}
{% block header %}
{{super()}}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/notes.css') }}">
{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<a href="#" class="navbar-brand">Notetaker</a>
	</div>
	<button class="btn btn-success navbar-btn">Add a New Note</button> 
        <ul class="nav navbar-nav navbar-right">

            <li><a href="#">Logout</a></li>

        </ul>
</nav>

<div class="container-fluid" id="notesContainer">
  <div class="row">
    
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    
  </div>

  <div class="row">
    
    <div class="col-md-3">
      <div class="note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit.</p></center>
      </div>
    </div>
    <div class="col-md-3">
      <div class = "note">
	<br><br><br>
	<center><p>Fish is a fish is a fish is a fish is a bibbit..</p></center>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  New Note
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <form action="{{url_for('newNotes')}}" method="post" role="form">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
<div class="input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
	<input id="newnotetitle" type="text" class="form-control" placeholder="Title" name="title"/>
</div>
	</h4>
      </div>

      <div class="modal-body">
        <textarea id="newnotecontent" class="form-control" placeholder="enter notes here" name="content" rows="4"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createNote()">Create</button>
      </div>

      </form>

    </div>
  </div>
</div>





<div id="saving" style="position:absolute;top:50%;left:50%;font-size:2em;margin-left:-1em;display:none;">
Saving...
</div>
<div id="saving_done" style="position:absolute;top:50%;left:50%;font-size:2em;margin-left:-1em;display:none;">
Done
</div>


<div class="col-md-3" style="display:none;" id="notetemplate">
<div class="note">
<br/><br/><br/>
<center><p class="notetitle"></p></center>
<center><p></p></center>
</div>
</div>


{% endblock %}

{% block footer %}
{{super()}}
<script>
  var notes = {{ notes|tojson }};
var numNotesDisplayed = 0;
  console.log(notes);
for(var i = 0 ; i != notes.length; i++){
displayNote(notes[i]);
  }
  var noteDirectives = {
  '@id':'id',
  'div.note':{
  'p.notetitle':'title',
  'center':{
  'p': 'content'
  }
  }
  }
  function displayNote(jsonIn){
if(numNotesDisplayed % 4 == 0){
$('#notesContainer').append($("<div></div>").addClass("row"));
}
  var cloned = $('#notetemplate').clone(true,true);
  console.log(cloned);
  cloned.attr('id',jsonIn['id']);
  cloned.children(".note").children("center:first").children().text(jsonIn['title']);
  cloned.children('.note').children("center:last").children().text(jsonIn['content']);
//cloned.show().appendTo('#notesContainer',':last-child','.row');
  $('#notesContainer').children('.row:last').append(cloned.show());
  console.log("added note titled: " + jsonIn['title']);
numNotesDisplayed++;
}
  function createNote(){
  $.ajax({
  type: "POST",
  url: "{{url_for('newNotes')}}",
  data: { title: $('#newnotetitle').val(), content: $('#newnotecontent').val() }
  })
  .done(function( msg ) {
  console.log(msg);
displayNote({'title':$('#newnotetitle').val(),'content':$('newnotecontent').val(),'id':msg});
  });
  }
  $(function(){

  });
</script>
{% endblock %}
