{% extends "std.html" %}
{% block header %}
{{super()}}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/notes.css') }}">
{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a href="{{url_for('welcome_page')}}" class="navbar-brand">Note-It</a>
	</div>

<button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#myModal" name="newNote">
  New Note
</button>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('logout')}}">Logout</a></li>

        </ul>
</nav>

<div class="container-fluid" id="notesContainer" style="margin-top:3em;margin-bottom:3em;">
 
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <form action="{{url_for('newNotes')}}" method="post" role="form">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
<div class="input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
	<input id="newnotetitle" type="text" class="form-control" placeholder="Title" name="title"/>
</div>
	</h4>
      </div>

      <div class="modal-body">
        <textarea id="newnotecontent" class="form-control" placeholder="enter notes here" name="content" rows="4"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createNote()" name="createButton">Create</button>
      </div>

      </form>

    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" id="editmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <form action="{{url_for('editNotes')}}" method="post" role="form">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="deleteNote()" name="deleteTestNote"><span class="glyphicon glyphicon-trash"></span></button>
        <h4 class="modal-title" id="myModalLabel">
<div class="input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
	<input id="editnotetitle" type="text" class="form-control" placeholder="Title" name="title"/>
</div>
	</h4>
      </div>
      <input type="hidden" id="editnoteid" name="id"/>
      <div class="modal-body">
        <textarea id="editnotecontent" class="form-control" placeholder="enter notes here" name="content" rows="4"></textarea>
      </div>
      <div class="modal-footer">
<button type="button" class="btn btn-default" onclick="editcolor='white';">W</button>
<button type="button" class="btn btn-danger" onclick="editcolor='red';" name="redbutton">R</button>
<button type="button" class="btn btn-primary" onclick="editcolor='blue';">B</button>
<button type="button" class="btn btn-info" onclick="editcolor='lightblue';">LB</button>
<button type="button" class="btn btn-warning" onclick="editcolor='orange';">O</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="editNote()" name="editNote">Edit</button>
      </div>

      </form>

    </div>
  </div>
</div>

<div id="saving" style="position:absolute;top:50%;left:50%;font-size:2em;margin-left:-1em;display:none;">
Saving...
</div>
<div id="saving_done" style="position:absolute;top:50%;left:50%;font-size:2em;margin-left:-1em;display:none;">
Done
</div>


<div class="col-md-3" style="display:none;" id="notetemplate" >
<div class="note nano">
<div class="nano-content">
<p class="notetitle" onclick="showEditNote(this)"></p>
<p class="notecontent" onclick="showEditNote(this)"></p>
</div>
</div>
</div>


{% endblock %}

{% block footer %}
{{super()}}

    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
<script>
  var notes = {{ notes|tojson }};
var editNoteUrl="{{url_for('editNotes')}}";
var deleteNoteUrl="{{url_for('deleteNotes')}}";
var newNoteUrl = "{{url_for('newNotes')}}";
var numNotesDisplayed = 0;
  console.log(notes);
displayNotesArray(notes,0);
</script>
{% endblock %}
