body{
background-image:url('/static/img/bg.jpg');
}
.note{
background-image:url('/static/img/btsgrid1.jpg');
/*acity:.2;
filter:alpha(opacity=20);*/
height:400px;
width:400px;
margin-top:20px;
padding: 1em .5em 1em .5em;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);}

.notetitle, .notecontent{
text-align:center
}
.notetitle{
font-size:2em;
}